Architecture: amd64
Depends: libqt6core6t64 | libqt6core6, libqt6gui6, libqt6widgets6, libqt6webenginecore6, libqt6webenginewidgets6, libqt6network6, libqt6sql6, libqt6sql6-sqlite, libqt6test6, libc6 (>= 2.34), libgcc-s1 (>= 3.3.1), libqt6core6t64 (>= 6.8.2), libqt6gui6 (>= 6.4.0), libqt6network6 (>= 6.7.2), libqt6sql6 (>= 6.1.2), libqt6webenginecore6 (>= 6.8.2), libqt6webenginecore6-bin (>= 6.8.2), libqt6webenginewidgets6 (>= 6.6.0), libqt6widgets6 (>= 6.3.0), libstdc++6 (>= 5)
Description: Navigateur Qt6 econome en donnees : bloque pubs et traqueurs
Homepage: https://github.com/techlowjj/BrowserECO-Linux
Maintainer: techlowjj
Package: browser-eco
Priority: optional
Section: web
Version: 1.3.0
Installed-Size: 4199

